.work-principles {
  padding-top: 94px;
}
.work-principles .secondary-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.principles-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.work-principles .list {
  display: flex;
  margin-right: -30px;
}
.activity .section-title {
  margin-bottom: 50px;
}
.principles-item {
  width: 270px;
  margin-right: 30px;
}
